{% extends 'base.html' %}

{% block title %}Estudaê | Página Inicial{% endblock %}

{% block metas %}
<meta name="description" content="O Estudaê é uma plataforma de estudos impulsionada pela Inteligência Artificial, criada para transformar a educação no Brasil. Junte-se à nossa revolução educacional!">
<meta name="keywords" content="plataforma de estudos, inteligência artificial, aprendizado online, recursos educacionais">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2345353716426198"
     crossorigin="anonymous"></script>
{% endblock %}

{% block styled %}
<style>

  .functions {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

  }

  .function {
    background-color: #151515;
    padding: 7px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .function strong {
    font-size: 1em;
  }

  .function img {
    background: transparent;
    width: 1.5em;
  }

  .dados {
    background-color: #151515;
    padding: 1em;
    border-radius: 6px;
  }

  .dados h3{
    font-size: 1.5em;
    margin-bottom: 0.8em;
  }

  /* Responsividade */
  @media screen and (max-width: 1000px) {

  }

  @media screen and (max-width: 800px) {
  }

  


  a{
    color: #fff;
  }
</style>
{% endblock %}

{% block content %}

<div class="container">
  <h3>Olá, Estudante!</h3>

  <div class="functions">

    <div class="function" onclick="window.location.href='/redacao'">
      <strong>Corretor de Redações</strong>
      <img src="{{ url_for('static', filename='img/icon-next.png') }}">
    </div>

    <div class="function" onclick="window.location.href='/feed-session'">
      <strong>Sessões de Estudos</strong>
      <img src="{{ url_for('static', filename='img/icon-next.png') }}">
    </div>

    <div class="function" onclick="window.location.href='/radar-conhecimento'">
      <strong>Radar do Conhecimento (NOVIDADE)</strong>
      <img src="{{ url_for('static', filename='img/icon-next.png') }}">
    </div>



  </div>


  <div class="dados">
    <h3>Seu desempenho</h3>
    <p><strong>Redações Enviadas: </strong>{{correcoes}} redações</p>
    <p><strong>Sessões de Estudos criadas: </strong>{{sessoes}} sessões</p>
    <p><strong>Quizzes gerados: </strong>{{quiz}} quizzes</p>
  </div>

  <div class="functions dados" style="margin-top: 2em;">
    <h3>Revisões do Dia</h3>
  
    {% if revisoes|length == 0 %}
    <p>Nenhuma revisão pendente pra hoje.</p>
    {% endif %}

    {% for rev in revisoes %}
      <div style="background-color: #000;" class="function" onclick="window.location.href='/session/{{rev.id_session}}'">
      <strong>{{rev.assunto}}</strong>
      <img src="{{ url_for('static', filename='img/icon-next.png') }}" alt="Ir para sessão">
    </div>
    {% endfor %}
  
  </div>

</div>

{% endblock %}
