{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h3>Repertórios</h3>
    <small>Idealizado pelo <a style="color: #fff" href="https://www.instagram.com/gremiocepjrs/">Grêmio Estudantil - Expressão Jovem</a> do Colégio Estadual Professor Jorge Rodrigues dos Santos (Irecê/BA)</small>
    <button style="margin-bottom: 2em;" onclick="window.location.href='/publicar-repertorio'">Publicar Repertório</button>
    {% for tipo, lista in repertorios_por_tipo.items() %}
        {% if lista %}
        <h3>{{ tipo|capitalize }}</h3>
        <div class="grid-repertorios">
            {% for repertorio in lista %}
            <a href="/repertorio/{{repertorio.id}}" class="repertorio-capa" title="{{ repertorio.titulo }}">
                <img src="{{ repertorio.capa }}" alt="Capa de {{ repertorio.titulo }}">
            </a>
            {% endfor %}
        </div>
        {% endif %}
    {% endfor %}
</div>
<style>
.grid-repertorios {
    display: flex;
    flex-wrap: wrap;
    gap: 1em; /* Menor espaçamento */
    margin-top: 0.5em; /* Menor margem superior */
}

.repertorio-capa img {
    width: 12em;

    border-radius: 10px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.15);
    transition: transform 0.2s;
    background: #fff;
}

.repertorio-capa:hover img {
    transform: scale(1.04);
    box-shadow: 0 4px 18px rgba(92,255,118,0.25);
}
</style>
{% endblock %}