{% extends 'base.html' %}

{% block title %}Política de Privacidade | LearnLoop{% endblock %}

{% block metas %}
<title>Política de Privacidade | LearnLoop</title>
<meta name="description" content="Saiba mais sobre como o LearnLoop coleta, usa e protege suas informações pessoais.">
{% endblock %}

{% block content %}
<div class="container">
  <h1>Política de Privacidade</h1>

  <p><strong>Art. 1º</strong> - Esta Política de Privacidade descreve como o Estudaê coleta, usa e protege suas informações pessoais ao utilizar nosso site e serviços.</p>

  <p><strong>Art. 2º</strong> - Coletamos informações de cadastro, como nome e e-mail, bem como dados de uso e informações técnicas, incluindo endereço IP e tipo de navegador.</p>

  <p><strong>Art. 3º</strong> - As informações coletadas são utilizadas para aprimorar a experiência do usuário, personalizar conteúdos e enviar comunicações relacionadas aos serviços do LearnLoop.</p>

  <p><strong>Art. 4º</strong> - Não compartilhamos suas informações pessoais com terceiros, salvo quando exigido por lei ou mediante seu consentimento expresso.</p>

  <p><strong>Art. 5º</strong> - Implementamos medidas técnicas e administrativas adequadas para proteger suas informações contra acessos não autorizados.</p>

  <p><strong>Art. 6º</strong> - Você tem o direito de acessar, corrigir ou excluir suas informações pessoais a qualquer momento. Para isso, entre em contato pelo e-mail: <a href="mailto:learnloopdigital@gmail.com">learnloopdigital@gmail.com</a>.</p>

  <p><strong>Art. 7º</strong> - Esta Política de Privacidade pode ser alterada a qualquer momento, sendo as modificações comunicadas através do site.</p>

  <p><strong>Art. 8º</strong> - Para quaisquer dúvidas sobre esta política, entre em contato pelo e-mail: <a href="mailto:learnloopdigital@gmail.com">learnloopdigital@gmail.com</a>.</p>
</div>
{% endblock %}
