{% extends 'base.html' %}

{% block title %} LearnLoop One {% endblock %}

{% block styled %}
<style>
  a{
    color: #fff;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
  <h3>Cadastre-se na plataforma</h3>
  <form action="/api/signup" method="POST">
    <input type="text" placeholder="Digite o seu nome de usuário" name="username">
    <input type="email" placeholder="Digite seu e-mail" name="email">
    <input type="password" placeholder='Digite sua senha' name="password">
    <div style="display: flex; gap: 0.6em;">
      <input type="checkbox" required>
      <p>Aceito os <a href="/termos-de-uso">Termos de uso</a> e <a href="/politica-de-privacidade">Políticas de Privacidade</a></p>
    </div>
    <button type="submit">Cadastrar</button>
  </form>
  <small>Já tem uma conta? <a href="/login">clique aqui</a></small>
</div>
{% endblock %}