{% extends 'base.html' %}

{% block styled %}
<style>
    li{
        text-decoration: none;
        list-style: none;
    }

    h1 {
        font-size: 1.9em;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
<h1>Sobre o Estudaê</h1>
<p>O <span class="highlight">Estudaê</span> é uma plataforma de estudos inovadora, criada para democratizar o acesso a ferramentas digitais voltadas para o <strong>Exame Nacional do Ensino Médio (ENEM)</strong>. Nosso objetivo é oferecer suporte de qualidade para todos os estudantes que desejam se preparar de forma eficiente para o exame, independentemente de sua localização ou condição financeira.</p>

<h2>✨ Recursos disponíveis:</h2>
    <ul>
        <li>✅ <strong>Corretor de redações detalhado</strong> – Analisa sua redação e fornece um feedback aprofundado para aprimorar seu texto.</li>
        <li>✍️ <strong>Redação Guiada</strong> – Suporte especial que te acompanha passo a passo na construção da sua redação.</li>
        <li>📚 <strong>Caderno Digital</strong> – Funcionalidade que permite que você organize e revise seus estudos de forma prática e eficiente.</li>
    </ul>

    <p>Nosso compromisso é manter a plataforma <strong>100% gratuita e acessível</strong>, sempre ouvindo os estudantes para aprimorá-la constantemente.</p>

<h2>🚀 Como surgiu o Estudaê?</h2>
<p>O Estudaê foi desenvolvido por <span class="highlight">Gustavo Barros da Rocha</span>, estudante da Universidade Federal da Bahia (UFBA). O projeto nasceu no <strong>Colégio Estadual Democrático Professor Rômulo Galvão</strong>, durante seu <strong>1º ano do ensino médio</strong>, na cidade de <strong>Elísio Medrado/BA</strong>.</p>

<p>Movido pela necessidade de tornar o estudo mais acessível para todos, Gustavo idealizou uma plataforma que atendesse às principais dificuldades enfrentadas pelos estudantes na preparação para o ENEM.</p>

<h2>📺 Novidades em breve!</h2>
    <p>Estamos trabalhando para trazer <strong>vídeos tutoriais</strong>, que irão te ajudar a explorar ao máximo os recursos da plataforma e aprimorar ainda mais sua preparação.</p>

<p><strong>Fique ligado! O Estudaê foi feito para você. 🎯✨</strong></p>
</div>
{% endblock %}