{% extends 'base.html' %}

{% block title %}Estudaê - Corrigir Redação{% endblock %}

{% block styled %}
<style>
  .form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .form input, textarea {
    width: 100%;
  }

  #resposta li {
    margin-left: 1.2em;
  }
</style>
{% endblock %}

{% block content %}
<!--
<div class="container">
  <section onclick="window.location.href='https://instagram.com/ogustavo.developer">
    <img src="{{url_for('static', filename='img/ads-3.png')}}" alt="Anúncio">
  </section>
</div>
-->
<div class="container">
  <h3>Corretor de Redação</h3>
  {% if not session["user"] %}
  <span class="alert">Você precisa ter uma conta para usar este recurso! <a href="/cadastro">clique aqui para se cadastrar</a> ou, se já tem uma conta <a href='/login'>clique aqui para entrar.</a></span>
  {% endif %}
  
  <div class="form">
    <input id="tema_custom" type="text" placeholder="Digite o tema da sua redação (obrigatório)">
    <select id="tema">
      <option value="">-- Escolha um tema sugerido --</option>
      <option value="Desigualdade social e pobreza">Desigualdade social e pobreza</option>
      <option value="Violência contra a mulher">Violência contra a mulher</option>
      <option value="Meio ambiente e sustentabilidade">Meio ambiente e sustentabilidade</option>
      <option value="Saúde pública e pandemia">Saúde pública e pandemia</option>
      <option value="Educação e inclusão">Educação e inclusão</option>
      <option value="Tecnologia, privacidade e redes sociais">Tecnologia, privacidade e redes sociais</option>
      <option value="Desinformação e fake news">Desinformação e fake news</option>
      <option value="Racismo estrutural e combate ao preconceito">Racismo estrutural e combate ao preconceito</option>
      <option value="Direitos humanos e cidadania">Direitos humanos e cidadania</option>
      <option value="Trabalho infantil e exploração">Trabalho infantil e exploração</option>
      <option value="Juventude e participação política">Juventude e participação política</option>
      <option value="Saúde mental entre jovens">Saúde mental entre jovens</option>
      <option value="Inclusão de pessoas com deficiência">Inclusão de pessoas com deficiência</option>
      <option value="Cultura, identidade e diversidade">Cultura, identidade e diversidade</option>
      <option value="Mobilidade urbana e transporte público">Mobilidade urbana e transporte público</option>
      <option value="Consumo responsável e economia circular">Consumo responsável e economia circular</option>
      <option value="Ética, trabalho e automação">Ética, trabalho e automação</option>
      <option value="Desenvolvimento científico e acesso à informação">Desenvolvimento científico e acesso à informação</option>
      <option value="Violência e segurança pública">Violência e segurança pública</option>
      <option value="Meio rural: agricultura e preservação ambiental">Meio rural: agricultura e preservação ambiental</option>
    </select>
    <input id="titulo" type="text" placeholder="Digite o título de sua redação">
<label for="nivel">Selecione o nível de ensino:</label>
  <select id="nivel">
    <option value="Ensino Fundamental Anos Finais">Ensino Fundamental (Anos Finais)</option>
    <option value="1° ano Ensino Médio">1° Ano do Ensino Médio</option>
    <option value="2° ano Ensino Médio">2° Ano do Ensino Médio</option>
    <option value="3° ano Ensino Médio" selected>3° Ano do Ensino Médio</option>
  </select>
    <textarea id="conteudo" placeholder="Digite sua redação (obrigatório)"></textarea>
  </div>

  <button onclick="redacaoGuiada()">Redação Guiada (DESABILITADO)</button>
  
  <button onclick="redacao()" disabled>Enviar para Correção (DESABILITADO)</button>
  <button onclick="carregarFoto()" disabled>Digitalizar Redação Manuscrita (DESABILITADO)</button> 
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js" integrity="sha512-WrdC3CE9vf1nBf58JHepuWT4x24uTacky9fuzw2g/3L9JkihgwZ6Cfv+JGTtNyosOhEmttMtEZ6H3qJWfI7gIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="{{ url_for('static', filename='js/redacao.js') }}"></script>
{% endblock %}
